@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);




#header4-0 H1 {
  text-align: center;
}
#testimonials1-6 .mbr-section__header {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  font-size: 30px;
}
#testimonials1-6 .mbr-reviews__author-name {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
}
#testimonials1-6 .mbr-reviews__text P {
  color: #222222;
}
#testimonials1-6 .mbr-reviews__text {
  color: #222222;
}
#menu-2 .mbr-brand__name {
  font-size: 16px;
}
#menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2 .mbr-brand__name a {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}
#menu-2 .mbr-navbar__items a {
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
}
#slider-3 H1 {
  text-align: left;
  color: #ffffff;
}
#slider-3 P {
  color: #ffffff;
}
#pricing-table1-7 DIV {
  color: #000000;
  text-align: center;
}
#pricing-table1-7 SPAN {
  color: #000000;
}
#pricing-table1-7 H3 {
  color: #ffffff;
}
#pricing-table1-7 UL {
  text-align: center;
}
#msg-box2-8 .mbr-header .mbr-header__text {
  color: #000000;
}
#msg-box2-8 .mbr-article {
  color: #252525;
}




#header4-g H1 {
  text-align: center;
}
#testimonials1-h .mbr-section__header {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  font-size: 30px;
}
#testimonials1-h .mbr-reviews__author-name {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
}
#testimonials1-h .mbr-reviews__text P {
  color: #222222;
}
#testimonials1-h .mbr-reviews__text {
  color: #222222;
}
#menu-i .mbr-brand__name {
  font-size: 16px;
}
#menu-i.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-i .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-i .mbr-brand__name a {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}
#menu-i .mbr-navbar__items a {
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
}
#slider-j H1 {
  text-align: left;
  color: #ffffff;
}
#slider-j P {
  color: #ffffff;
}
#pricing-table1-k DIV {
  color: #000000;
  text-align: center;
}
#pricing-table1-k SPAN {
  color: #000000;
}
#pricing-table1-k H3 {
  color: #ffffff;
}
#pricing-table1-k UL {
  text-align: center;
}
#msg-box2-l .mbr-header .mbr-header__text {
  color: #000000;
}
#msg-box2-l .mbr-article {
  color: #252525;
}
